[user]
	name = Jason Walker
	useConfigOnly = true
#[includeIf "gitdir:**/personal/"]
#    path = ~/.gitconfig_personal
#[includeIf "gitdir:~/.dotfiles/"]
#    path = ~/.gitconfig_personal
#[includeIf "gitdir:~/.antigen/"]
#    path = ~/.gitconfig_personal
#[github]
#    user = ungood
[color]
    ui = auto
[color "branch"]
    current = "green ul"
    local = "yellow"
    remote = "red"
    plain = "normal"
[color "decorate"]
    HEAD = "green ul"
    remoteBranch = "red"
    branch = "yellow"
    tag = "cyan"
    stash = "bold cyan"
[format]
    pretty = %w(80,0,4)%C(bold red)%h %C(bold blue)%ad %C(green)%an%C(yellow)%d%n%Creset%s
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    pager = less -FMRiX
    abbrev = 8
[alias]
    st = status
    co = checkout
    ci = commit
    br = branch
    call = !git add -A . && git commit
    refgraph = log --graph --all --simplify-by-decoration
    rstatus = remote show origin
    fixmodes = !git ls-tree -r master . | grep 100755 | cut -f 2 | xargs -d'\\n' chmod -x
    logg = log --graph
    loga = log --all
    logga = log --graph --all
    start = "!f() { git branch --track $1 && git checkout $1; }; f"
    amend = commit -a --amend
    dag = log --graph --all
    cr = tag jw-cr -fm 'Jasons last CR head.'
[apply]
    whitespace = nowarn
[mergetool]
    keepBackup = false
    prompt = false
    keepTemporaries = false
[log]
    date = short
[merge]
    tool = p4merge
[diff]
    guitool = p4merge
[pull]
    rebase = true
[push]
    default = simple
[fetch]
    parallel = 0
[branch]
    autosetuprebase = always
[rerere]
    enabled = true
[init]
	defaultBranch = main
[protocol "codecommit"]
	allow = always
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
