[user]
	name = Jason Walker
        email = jwwalker@amazon.com
[github]
	user = ungood
[color]
	ui = auto
[core]
	editor = vim
	filemode = true
	excludesfile = /home/jwwalker/.gitignore_global
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	finish = flow feature finish
	start = flow feature start
	call = !git add -A . && git commit
	refgraph = log --graph --all --simplify-by-decoration
	rstatus = remote show origin
        obliterate = "!f() { git filter-branch --index-filger 'git rm --cached --ignore-unmatch $1'; }; f"
[apply]
	whitespace = nowarn
[mergetool]
	keepBackup = false
[format]
	pretty = %w(80,0,4)%C(bold red)%h %Cblue%ad%C(yellow)%d%Creset %s %Cgreen~%an%Creset
[log]
	date = short
[mergetool "p4merge"]
    cmd = "p4merge" "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
[diff]
[branch]
	autosetuprebase = remote
[push]
	default = tracking
[merge]
	tool = p4merge
