[user]
	name = Jason Walker
	email = jwwalker@amazon.com
[github]
	user = ungood
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = /home/jwwalker/.gitignore_global
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	call = !git add -A . && git commit
	refgraph = log --graph --all --simplify-by-decoration
	rstatus = remote show origin
	fixmodes = !git ls-tree -r master . | grep 100755 | cut -f 2 | xargs -d'\\n' chmod -x
    obliterate = "!f() { git filter-branch --index-filger 'git rm --cached --ignore-unmatch $1'; }; f"
	logg = log --graph
	loga = log --all
	logga = log --graph --all
[apply]
	whitespace = nowarn
[mergetool]
	keepBackup = false
[format]
	pretty = %w(80,0,4)%C(bold red)%h %Cblue%ad%C(yellow)%d%Creset %s %Cgreen~%an%Creset
[log]
	date = short
[merge]
    tool = p4merge
[diff]
        guitool = p4merge
[mergetool "p4merge"]
    	cmd = "p4merge" "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    	keepTemporaries = false
    	trustExitCode = false
    	keepBackup = false
[push]
	default = simple
[branch]
	autosetuprebase = always
[rerere]
	enabled = true
