{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

# Brewfile hash: {{ include "dot_config/homebrew/Brewfile" | sha256sum }}
echo "Installing packages with homebrew..."
brew bundle --file=~/.config/homebrew/Brewfile

{{- end }}